body {
  background-color: #edd263;
  color: #383838;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html { scroll-behavior: smooth; } 

.container {
  max-width: 1200px;
  margin: 10px auto 50px;
}

.header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

nav ul{
  display:flex;
  list-style: none;
  justify-content: flex-end;
}

nav ul li{
  margin-left:20px;
}

nav ul li a{
  text-decoration: none;
  color: #3b2d64;
  
}

.site-title {
  color: #3b2d64;
  margin-bottom: 20px;
  margin-top:16px;
  text-align: left;
}

.site-title a {
  text-decoration: none;
  color: #3b2d64;
}

#search-box {
  max-width: 535px;
  width: 100%;
  margin: 50px auto 30px;
  
}

.seach-box-container{
  display: flex;
}

.seach-box-container input {
  width: 70%;
  padding: 15px 10px;
  font-size: 16px;
  border: 0;
  border-radius: 5px 0 0 5px;
}

.submitBtn {
  width: 30%;
  background: #3b2d64;
  color: #fff;
  height: 60px;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  cursor: pointer;
}

#empty-notification p{
  text-align:center;
  font-size:18px;
}

#meals {
  display: grid;
  padding: 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

.meal a{
  text-decoration: none !important;
  color:#252525 !important;
}

.meal a:hover{
  color:#252525 !important;
}

.meal {
  background: #fff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.meal img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.meal-name {
  margin-bottom: 30px;
}

.meal-details-card {
  background-color: #fff;
  max-width: 535px;
  margin: 50px auto 10px;
  width: 100%;
  border-radius: 10px;
}

.meal-details-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.meal-info {
  padding: 20px;
}

.meal-info h3{
  font-size:24px;
}

#search-error h3 {
  font-size: 28px;
  text-align: center;
}

.ingredient-list {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}

.ingredient-list li{
  margin-bottom:10px;
}

.ingredient-list li .far{
  margin-right:10px;
  color: #3b2d64 !important;
}

@media screen and (max-width: 768px) {
  #meals {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #meals {
    grid-template-columns: repeat(1, 1fr);
  }
  .header{
    grid-template-columns: repeat(1, 1fr);
  }
  .site-title{
    text-align: center;
  }
  nav ul{
    justify-content: center;
    padding-left:0;
  }
  nav ul li{
    margin:15px;
  }
}
